/*Recipes.css*/

#recipes {
    width: 70%;
    align-items: center;
    text-align: center;
}

#new-recipe-button {
    margin: 0 auto;
    max-width: 17rem;
}

#new-recipe-button h1 {
    margin: 0;
}