/*Modal.css*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 모달이 다른 요소 위에 오도록 */
}

.modal-content {
    background-color: #ffe0e0;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 300rem;
    max-width: 90%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}