/*RecipeContainer.css*/

.recipe-content h1{
    margin: 0;
    text-align: left;
    flex-shrink: 0;
}

.recipe-content p{
    margin: 0.2rem 0.5rem;
    text-align: left;
}

.recipe-content {
    display: flex;
    flex-direction: row;
}