/*Tag.css*/

.tag {
    background-color: #cf8080aa;
    margin: 0.4rem 1rem;
    padding: 0.6rem 0.7rem;
    transition: transform 0.2s ease;
    border-radius: 5px;
}

.tag:hover {
    transform: translateY(-5px); /* 호버 시 살짝 올라감 */
}

.tag:active {
    transform: translateY(10px);
}