.App {
  text-align: center;
  /*margin-top: 50px;*/
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  background-color: #801840;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #fb8261;
  border: none;
  cursor: pointer;
}

.convex-box {
  background-color: #ae5135bf;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2% 5%;
  margin: 2% 5%;
}