.App {
  text-align: center;
  /*margin-top: 50px;*/
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  background-color: #801840;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #fb8261;
  border: none;
  cursor: pointer;
}

#todolist ul {
  list-style: none;
  padding: 0;
}

#todolist li {
  margin: 10px 0;
}