.App {
  text-align: center;
  /*margin-top: 50px;*/
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  background-color: #801840;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #fb8261;
  border: none;
  cursor: pointer;
}

.convex-box {
  background-color: #ae5135bf;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2% 5%;
  margin: 2% 5%;
}

.enter-button {
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 살짝 입체감 */
  color: #222;
  margin: 0.5rem 0;
}

.enter-button:hover {
  background-color: #b35600; /* 호버 시 조금 더 진한 블루 */
  transform: translateY(-2px); /* 살짝 떠오르는 효과 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.enter-button:active {
  transform: translateY(10px);
}

.round-box {
  padding: 2% 5%;
  margin: 2% 5%;
  background-color: #ae5135bf;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.clickable{
  transition: transform 0.2s ease;
}

.clickable:hover{
  transform: translateY(-5px);
  color: aqua;
}

.clickable:active{
  transform: translateY(10px);
}